HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### yml
src/main/resources/application-prod.yml
src/main/resources/application-jwt-prod.yml
src/main/resources/application-oauth2-prod.yml
src/main/resources/application-dev.yml
src/main/resources/application-jwt-dev.yml
src/main/resources/application-oauth2-dev.yml
src/main/resources/application-storage-s3.yml
src/main/resources/application-storage-s3-local.yml
src/main/resources/application-storage-s3-dev.yml
src/main/resources/application-open-ai.yml
src/main/resources/application-storage-s3-prod.yml

src/test/resources/application-storage-s3-dev.yml
src/test/resources/application-open-ai.yml

### json
src/main/resources/storage/gcs-key.json
src/test/resources/storage/gcs-key.json

### index.html
src/main/resources/static/docs/index.html